.button {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 10px 30px;

  color: var(--colorText);

  border: none;
  border-radius: var(--radius);

  background-color: var(--colorElements);

  box-shadow: var(--shadow);

  cursor: pointer;
}
