@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

body {
  color: var(--colorText);
  font-weight: 600;
  font-size: 0.9rem;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}
